@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: sharpSans;
    src: url('../public/fonts/sharp-sans-cufonfonts/Sharp\ Sans\ Semibold.otf');
  }

  *{
    font-family: sharpSans;
  }